In [1]:
import psycopg2
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import json

In [2]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/youtube_trend'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

## SQL Schema

In [72]:
#Create table in SQL
createCmd="""    
  create table category (
        category_id int,
        category_name varchar NOT NULL,
        PRIMARY KEY (category_id)
        );

    create table channel (
        channel_id varchar,
        channel_name varchar NOT NULL,
        joined date,
        followers numeric (18,0), 
        views numeric (18,0), 
        description varchar,
        PRIMARY KEY (channel_id)
        );
        
    create table channel_category (
        channel_id varchar,
        category_id int,
        PRIMARY KEY (channel_id, category_id),
        FOREIGN KEY (channel_id) REFERENCES channel(channel_id),
        FOREIGN KEY (category_id) REFERENCES category(category_id)
        );

    create table video (
        video_id varchar,
        title varchar NOT NULL,
        view_count int NOT NULL, 
        likes int, 
        dislikes int,
        trending_date timestamp, 
        publishdate timestamp,
        description varchar,
        comment_count int,
        comments_disabled boolean, 
        ratings_disabled boolean,
        PRIMARY KEY (video_id)
        );
        
     create table video_channel (
         video_id varchar,
         channel_id varchar,
         PRIMARY KEY (video_id, channel_id),
         FOREIGN KEY (video_id) REFERENCES video(video_id),
         FOREIGN KEY (channel_id) REFERENCES channel(channel_id)
         );

    create table creator (
        creator_id int, 
        channel_id varchar NOT NULL,
        PRIMARY KEY (creator_id),
        FOREIGN KEY (channel_id) references channel(channel_id)
        );
        
    create table creator_contact (
        creator_id int,
        business_email varchar,
        PRIMARY KEY (creator_id),
        FOREIGN KEY (creator_id) REFERENCES creator(creator_id)
        );

    create table socialmedia_platform (
        platform_id int,
        platform_name varchar,
        PRIMARY KEY (platform_id)
        );

    Create table creator_socialmedia(
        account_name varchar,
        creator_id  int,
        platform_id int,
        PRIMARY KEY (creator_id, platform_id),
        FOREIGN KEY (creator_id) REFERENCES creator(creator_id),
        FOREIGN KEY (platform_id) REFERENCES socialmedia_platform (platform_id)
        );

    create table music_section(
        section_id int, 
        section_name varchar NOT NULL,
        category_id int NOT NULL,
        PRIMARY KEY (section_id),
        FOREIGN KEY (category_id) references category(category_id)
        );

    create table music_sec_channels(
        channel_id varchar, 
        section_id int NOT NULL,
        channel_name varchar NOT NULL,
        PRIMARY KEY (channel_id),
        FOREIGN KEY (channel_id) references channel(channel_id),
        FOREIGN KEY (section_id) references music_section(section_id)
        );

    create table sports_section(
        section_id int, 
        section_name varchar NOT NULL,
        category_id int NOT NULL,
        PRIMARY KEY (section_id),
        FOREIGN KEY (category_id) references category(category_id)
        );

    create table sports_sec_channels(
        channel_id varchar, 
        section_id int NOT NULL,
        channel_name varchar NOT NULL,
        PRIMARY KEY (channel_id),
        FOREIGN KEY (channel_id) references channel(channel_id),
        FOREIGN KEY (section_id) references sports_section(section_id)
        );

    create table news_section(
        section_id int, 
        section_name varchar NOT NULL,
        category_id int NOT NULL,
        PRIMARY KEY (section_id),
        FOREIGN KEY (category_id) references category(category_id)
        );

    create table news_sec_channels(
        channel_id varchar, 
        section_id int NOT NULL,
        channel_name varchar NOT NULL,
        PRIMARY KEY (channel_id),
        FOREIGN KEY (channel_id) references channel(channel_id),
        FOREIGN KEY (section_id) references news_section(section_id)
        );

        
"""
# Execute the statement to create tables
connection.execute(createCmd)

## Loading csv files into Python

In [73]:

# -main data
trending_data = pd.read_csv("US_youtube_trending_data.csv", encoding = "ISO-8859-1") #main data
trending_data.columns = trending_data.columns.str.lower()
trending_data = trending_data.rename(columns = {'channelid' : 'channel_id', 'channeltitle' : 'channel_name', 'categoryid' : 'category_id', \
                                               'publishedat' : 'publishdate'})


# -category data
with open('US_category_id.json','r') as f:
    data = json.loads(f.read())
df_nested_list = pd.json_normalize(data, record_path =['items'])      # Flatten json data (take out data under items)
df_nested_list['id'] = df_nested_list['id'].astype(int)

# -creator data
creator_db = pd.read_csv("Creators.csv")

# -platform data
platform = pd.read_csv('platform.csv')

# -music data
music_section = pd.read_csv("music_section.csv", encoding = "ISO-8859-1")
music_sec_channels = pd.read_csv("music_sec_channels.csv", encoding = "ISO-8859-1")

# -sports data
sports_sec_channels = pd.read_csv("sports_sec_channels.csv", encoding = "ISO-8859-1")
sports_section = pd.read_csv("sports_section.csv", encoding = "ISO-8859-1")

# -news data
news_sec_channels = pd.read_csv("news_sec_channels.csv", encoding = "ISO-8859-1")
news_section = pd.read_csv("news_section.csv", encoding = "ISO-8859-1")



# archive loading data
#YouTube_Channels = pd.read_csv("Top YouTube Channels Data.csv", encoding = "ISO-8859-1")
#YouTube_Channels.columns = YouTube_Channels.columns.str.lower()
# Merge two tables using channel name
#Channels_trending = YouTube_Channels.merge(trending_data, how = 'left', left_on = 'youtuber', right_on = 'channeltitle').dropna()

#archive channel tablee
# Channels_trending = Channels_trending.merge(Category, how = 'left', on = 'category')  
# Channel = pd.DataFrame({
#     'channel_name': list(Channels_trending['youtuber']), 
#     'views':list(Channels_trending['video_views']), 
#     'started':list(Channels_trending['started']), 
#     'subscribers' :list(Channels_trending['subscribers']),
#     'category_id' :list(Channels_trending['category_id'])})
# Channel = Channel.drop_duplicates()
# Channel['channel_id'] = np.arange(len(Channel))+1

## Split data into 3NF tables

In [74]:
#Split data into each table

#Table 1 Category
category  = df_nested_list[['id', 'snippet.title']]                   #keep category id & title
category = category.rename(columns = {'id' : 'category_id', 'snippet.title' : 'category_name'}) #rename column



trending_data = trending_data.merge(category, how = 'left', on = 'category_id')  # main data merge category table

#Table 2 Channel
channel_temp = trending_data.merge(creator_db, how = 'left', on = 'channel_id')
channel = channel_temp[['channel_id','channel_name','joined','followers','views','description_y']]
channel = channel.rename(columns = {'description_y':'description'})
channel = channel.drop_duplicates('channel_id')

#Table 3 channel_category
channel_category = trending_data[['channel_id', 'category_id']].drop_duplicates()


#Table 4 Video
video = trending_data[['video_id', 'title', 'view_count', 'likes', 'dislikes', 'trending_date', 'publishdate', \
                       'description', 'comment_count', 'comments_disabled', 'ratings_disabled']].drop_duplicates('video_id')


#Table 5 video_channel 
video_channel = trending_data[['video_id', 'channel_id']].drop_duplicates()


#Table 6 creator
creator_db['creator_id'] = np.arange(len(creator_db))+1
creator = creator_db[['creator_id', 'channel_id']]

#Table 7 creator_contact
creator_contact = creator_db[['creator_id', 'business_email']]


#Table8 socialmedia_platform
socialmedia = pd.DataFrame({
    'platform_id':list(range(1,8)),
    'platform_name':list(['twitter', 'instagram', 'facebook', 'tiktok', 'reddit', 'twitch', 'pinterest'])
})


#Table 9 creator_socialmedia
creator_media = platform[['account_name','creator_id', 'platform_id']]

#Table 10 music section
music_section = music_section[['section_id', 'section_name', 'category_id']]

#Table 11 music_sec_channels
music_sec_channels = music_sec_channels[['channel_id', 'section_id', 'channel_name']]


#Table 12 sports section
sports_section = sports_section[['section_id', 'section_name', 'category_id']]

#Table 13 sports_sec_channels
sports_sec_channels = sports_sec_channels[['channel_id', 'section_id', 'channel_name']]

#Table 14 news section
news_section = news_section[['section_id', 'section_name', 'category_id']]

#Table 15 news_sec_channels
news_sec_channels = news_sec_channels[['channel_id', 'section_id', 'channel_name']]

## Loading data to SQL

In [75]:
#Load tables into SQL
category.to_sql(name='category', con=engine, if_exists='append', index=False)
channel.to_sql(name='channel', con=engine, if_exists='append', index=False)
channel_category.to_sql(name='channel_category', con=engine, if_exists='append', index=False)
video.to_sql(name='video', con=engine, if_exists='append', index=False)
video_channel.to_sql(name='video_channel', con=engine, if_exists='append', index=False)
creator.to_sql(name='creator', con=engine, if_exists='append', index=False)
creator_contact.to_sql(name='creator_contact', con=engine, if_exists='append', index=False)
socialmedia.to_sql(name='socialmedia_platform', con=engine, if_exists='append', index=False)
creator_media.to_sql(name='creator_socialmedia', con=engine, if_exists='append', index=False)
music_section.to_sql(name='music_section', con=engine, if_exists='append', index=False)
music_sec_channels.to_sql(name='music_sec_channels', con=engine, if_exists='append', index=False)
sports_section.to_sql(name='sports_section', con=engine, if_exists='append', index=False)
sports_sec_channels.to_sql(name='sports_sec_channels', con=engine, if_exists='append', index=False)
news_section.to_sql(name='news_section', con=engine, if_exists='append', index=False)
news_sec_channels.to_sql(name='news_sec_channels', con=engine, if_exists='append', index=False)

## Review the 3NF tables in python

In [28]:
print('_' * 100)
print('\033[1mCategory table\n\033[0m', category.head(),'\n') #1

print('_' * 100)
print( '\033[1mChannel table\n\033[0m', Channel.head(),'\n') #2

print('_' * 100)
print('\033[1mVideo table\n\033[0m', Video.head(),'\n')  #3

print('_' * 100)
print('\033[1mComment table\n\033[0m', Comment.head(),'\n')  #4

print('_' * 100)
print('\033[1mDescription table\n\033[0m', Description.head(),'\n')  #5

print('_' * 100)
print('\033[1mRank table\n\033[0m', Rank.head()) #6

print('_' * 100)
print('\033[1mcreator_id table\n\033[0m', creator_id.head()) #7

print('_' * 100)
print('\033[1mcreator_info table\n\033[0m', creator_info.head()) #8

print('_' * 100)
print('\033[1mcreator_socialmedia table\n\033[0m', creator_media.head()) #9

____________________________________________________________________________________________________
Category table
    category_id     category_name
0            1  Film & Animation
1            2  Autos & Vehicles
2           10             Music
3           15    Pets & Animals
4           17            Sports

____________________________________________________________________________________________________
Channel table
                  channel_id   channel_name   category_name
0  UCvtRTOMP2TqYqu51xNrqAzg       Brawadis  People & Blogs
1  UC0ZV6M2THA81QT9hrVWJG3A   Apex Legends          Gaming
2  UCYzPXprvl5Y-Sf0g4vX-m6g  jacksepticeye   Entertainment
3  UCbg_UMjlHJg_19SZckaKajg            XXL           Music
4  UCDVPcEbVLQgLZX0Rt6jo34A       Mr. Kate   Howto & Style

____________________________________________________________________________________________________
Video table
       video_id                                              title  \
0  3C66w5Z0ixs                 I ASKED HER TO BE MY GIRLFRIEND...
1  M9Pmf9AB4Mo  Apex Legends | Stories from the Outlands â â...
2  J78aPJ3VyNs  I left youtube for a month and THIS is what ha...
3  kXLn3HkpjaA  XXL 2020 Freshman Class Revealed - Official An...
4  VIUo6yapDbc  Ultimate DIY Home Movie Theater for The LaBran...

                 channel_id  view_count   likes  dislikes  \
0  UCvtRTOMP2TqYqu51xNrqAzg     1514614  156908      5855
1  UC0ZV6M2THA81QT9hrVWJG3A     2381688  146739      2794
2  UCYzPXprvl5Y-Sf0g4vX-m6g     2038853  353787      2628
3  UCbg_UMjlHJg_19SZckaKajg      496771   23251      1856
4  UCDVPcEbVLQgLZX0Rt6jo34A     1123889   45802       964

          trending_date           publishedat
0  2020-08-12T00:00:00Z  2020-08-11T19:20:14Z
1  2020-08-12T00:00:00Z  2020-08-11T17:00:10Z
2  2020-08-12T00:00:00Z  2020-08-11T16:34:06Z
3  2020-08-12T00:00:00Z  2020-08-11T16:38:55Z
4  2020-08-12T00:00:00Z  2020-08-11T15:10:05Z

____________________________________________________________________________________________________
Comment table
       video_id  comment_count  comments_disabled  ratings_disabled
0  3C66w5Z0ixs          35313              False             False
1  M9Pmf9AB4Mo          16549              False             False
2  J78aPJ3VyNs          40221              False             False
3  kXLn3HkpjaA           7647              False             False
4  VIUo6yapDbc           2196              False             False

____________________________________________________________________________________________________
Description table
       video_id                channel_id  \
0  3C66w5Z0ixs  UCvtRTOMP2TqYqu51xNrqAzg
1  M9Pmf9AB4Mo  UC0ZV6M2THA81QT9hrVWJG3A
2  J78aPJ3VyNs  UCYzPXprvl5Y-Sf0g4vX-m6g
3  kXLn3HkpjaA  UCbg_UMjlHJg_19SZckaKajg
4  VIUo6yapDbc  UCDVPcEbVLQgLZX0Rt6jo34A

                                         description
0  SUBSCRIBE to BRAWADIS â¶ http://bit.ly/Subscr...
1  While running her own modding shop, Ramya Pare...
2  I left youtube for a month and this is what ha...
3  Subscribe to XXL â http://bit.ly/subscribe-x...
4  Transforming The LaBrant Family's empty white ...

____________________________________________________________________________________________________
Rank table
            video_id                channel_id  rank
22415   F44gmxjRVzc  UCVS88tG_NYgxF6Udnx2815Q     1
73992   HcSwBJY7Xew  UCBR8-60-B28hp2BmDPdntcQ     2
65049   kmk5vciFbek  UCZkURf9tDolFOeuw_4RD7XQ     3
137488  xWLoeDcJwvU  UCGTGlZDAATNAAXINMLj4jgw     4
65030   ifJYb2An7wE  UCGjylN-4QCpn8XJ1uY-UOgA     5
____________________________________________________________________________________________________
creator_id table
    creator_id                channel_id   category_name
0           1  UCvtRTOMP2TqYqu51xNrqAzg  People & Blogs
1           2  UC0ZV6M2THA81QT9hrVWJG3A          Gaming
2           3  UCYzPXprvl5Y-Sf0g4vX-m6g   Entertainment
3           4  UCbg_UMjlHJg_19SZckaKajg           Music
4           5  UCDVPcEbVLQgLZX0Rt6jo34A   Howto & Style
____________________________________________________________________________________________________
creator_info table
    creator_id     joined    followers        views  \
0           1   3-Apr-15   1644604632   1644604632
1           2  24-Jan-19    487604078    487604078
2           3  24-Feb-07  15435395418  15435395418
3           4   7-Sep-06   1104945140   1104945140
4           5  26-Aug-09    480305619    480305619

                                         description            business_email
0  Hi! IâÃÃ´m Brandon Awadis and I like to mak...
1  Welcome to the official Apex LegendsâÃÂ¢ Yo...
2                                                NaN  jacksepticeye7@gmail.com
3                          Hip-Hop on a Higher Level
4  Join me, Mr. Kate, as I take you on a journey ...           joey@mrkate.com
____________________________________________________________________________________________________
creator_socialmedia table
    creator_id         twitter      instagram       facebook tiktok  \
0           1             NaN            NaN            NaN    NaN
1           2             NaN            NaN            NaN    NaN
2           3  @Jacksepticeye  jacksepticeye            NaN    NaN
3           4            @XXL            XXL      @xxlmag      NaN
4           5         @mrkate         mrkate  @mrkatedotcom    NaN

            reddit         twitch pinterest
0              NaN            NaN       NaN
1              NaN            NaN       NaN
2  r/jacksepticeye  jacksepticeye       NaN
3              NaN            NaN   @mrkate
4              NaN            NaN       NaN